* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: "Poppins", sans-serif;
    background: var(--bg, #f8f9fc);
    color: var(--text, #333);
    transition: 0.3s;
}

:root {
    --primary: #e53935;
    --secondary: #d21807;
    --dark-bg: #121212;
    --dark-card: #1e1e1e;
    --dark-text: #f5f5f5;
}
body.dark {
    --bg: var(--dark-bg);
    --text: var(--dark-text);
}

header {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: white;
    text-align: center;
    padding: 70px 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 20px;
    animation: fadeDown 1s ease;
}

.section-title {
    text-align: center;
    font-size: 32px; font-weight: 600; margin-bottom: 15px;
    color: var(--secondary);
    margin-bottom: 15px;
}

.produk-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 24px;
  margin: 30px auto;
  max-width: 1200px;
  padding: 0 40px; 
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: 0.3s;
  background: #fff;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 100%;   
  height: 200px; 
  object-fit: cover;
  display: block;
}

.card-body {
  padding: 14px;
  text-align: center;
}

.card-body h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.price {
  margin-top: 6px;
  font-weight: bold;
  color: #f39c12;
}


.card .desc {
  display: none;
}


.desc-area {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px 40px;  
  background: #ffffff; 
}

#desc-text {
  font-size: 25px;
  color: #555;
  text-align: center;
}

.des-title {
    text-align: center;
    font-size: 32px; font-weight: 600; margin-bottom: 15px;
    color: var(--secondary);
    margin-bottom: 15px;
}

.footer {
    background: #e53935; color: white;
    margin-top: auto;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eee;
}